{{ define "content" }}
<div class="list-group">
    <a href="/generate" class="list-group-item list-group-item-action">
        Генерация файлов импорта
    </a>
    <a href="/tree" class="list-group-item list-group-item-action">
        Древовидная структура
    </a>
    <a href="/config" class="list-group-item list-group-item-action">Редактировать конфиг</a>
</div>
{{ end }}
{{ define "scripts" }}
<script>


    const socket = new WebSocket(`ws://${window.location.host}/ws`);
    socket.onmessage = function(event) {
        if (event.data === 'config_updated' && confirm('Конфиг был изменен. Перезагрузить?')) {
            location.reload();
        }
    };
</script>
{{ end }}